/target/
**/node_modules/
/dist/
/.pod/
**/.gradle/
/.idea/
**/build/
**/.cxx/
**/.hvigor/
**/oh_modules/
**/prebuilt/
/platforms/watchos/Artifacts/
platforms/harmony/entry/src/main/resources/rawfile/main.js
platforms/harmony/entry/src/main/resources/rawfile/main.pak
platforms/harmony/entry/src/main/resources/rawfile/pod.manifest.json
*.local.properties
